* {
  box-sizing: border-box;
}
 body {
        background-image: url("./doors/background.jpg");
background-size: cover;
background-repeat: no-repeat;
 }


/*logo */
.logo{
    position: absolute;
    top: 20px;
    left: 40px;
}

.container {
    width: 800px;
    height: 900px;
    margin: 15px auto;
    background-size: all;
    display: grid;
    grid-gap: 10px;
    margin: 150px auto 150px auto;
    justify-content: center;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "door9 door6 door11 door7"
        "door3 door20 door16 door2"
        "door14 door12 door19 door15"
        "door22 door1 door5 door23"
        "door17 door10 door24 door21"
        "door8 door18 door4 door13";
}

.image {
    background-image: none;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.text {
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 60px;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255,0,0, .7);
    transition: opacity 2.5s;
}